/* jaune: rgb(236,171,39)
vert: rgb(126,166,63)
red: rgb(201,56,71)
blue: rgb(60,146,191)*/

/* GENERAL */

body {
	font-family: 'VT323', monospace;
	background-image: url(./rocks.jpg);
	background-repeat: round;
	width: 75%;
	margin: 0 auto;
}

audio {
	display: none;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

/* START SCREEN */

#start-screen,
#end-screen, #instructions {
	background-color: rgb(0, 0, 0, 0.7);
	text-align: center;
	color: white;
	margin: 0px;
	padding: 50px;
	width: auto;
	height: 600px;
}

#intro {
	font-size: 2em;
}

#navigation {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.button-nav {
	background-image: linear-gradient(
		to right,
		rgb(201, 56, 71),
		rgb(236, 171, 39),
		rgb(126, 166, 63),
		rgb(60, 146, 191)
	);
	color: black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	font-family: 'VT323', monospace;
	margin: 10px;
	width: 200px;
	height: 40px;
	font-size: 1.7em;
	cursor: pointer;
}

.button-nav:hover, #menu:hover {
	border: 1px solid black;
}

/* MAIN BOARD GAME */

h1 {
	background: black;
}

#title {
	text-align: center;
	font-size: 3em;
	margin: 20px;
	background: -webkit-linear-gradient(#eee, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#main {
	background-image: url(./rocks.jpg);
	background-repeat: round;
	margin: 60px;
}

.dino-color {
	width: 100px;
	cursor: pointer;
}

.choose {
	font-size: 1.5em;
	color: white;
	text-align: center;
}

.dino-display {
	margin: 0 70px;
}

#ready,
#seconds {
	color: white;
	font-size: 2.5em;
	margin: 30px;
}

#countdown,
#countdown-text {
	color: white;
	font-size: 1.5em;
}

#player-one-text,
#player-two-text {
	text-align: center;
	color: white;
	font-size: 3em;
}

img {
	width: 150px;
	height: auto;
}

.container {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	position: relative;
}

.header-container {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
	height: 50px;
}

.player-display {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 0 70px;
	justify-content: flex-start;
	align-items: center;
}

#game-board {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
	justify-content: center;
}

#player-one-text-points,
#player-two-text-points {
	font-size: 2em;
	color: white;
}

.cell {
	background-color: black;
	border: 1px solid grey;
	box-sizing: border-box;
	height: 50px;
	width: 50px;
}

.player-one {
	background-color: rgb(126, 166, 63);
}

.player-two {
	background-color: rgb(236, 171, 39);
}

.active-player-one {
	background-image: url(./green_dino_small.gif);
}

/* .active-player-one-left {
	background-image: url(./green_dino_small_left.gif)
} */

.active-player-two {
	background-image: url(./yellow_dino_small_left.gif);
}

.button {
	background-image: linear-gradient(
		to right,
		rgb(201, 56, 71),
		rgb(236, 171, 39),
		rgb(126, 166, 63),
		rgb(60, 146, 191)
	);
	color: black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	font-family: 'VT323', monospace;
	width: 100px;
	height: 40px;
	font-size: 2em;
	cursor: pointer;
}

.button:hover {
	border: 1px solid black;

}

button:focus {
	outline: 0 !important;
}

/* END SCREEN */
#end-screen {
	font-size: 2em;
}

.button-end {
	background-image: linear-gradient(
		to right,
		rgb(201, 56, 71),
		rgb(236, 171, 39),
		rgb(126, 166, 63),
		rgb(60, 146, 191)
	);
	color: black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	font-family: 'VT323', monospace;
	margin: 10px;
	width: 200px;
	height: 40px;
	font-size: 1em;
	cursor: pointer;
}

.button-end:hover {
	border: 1px solid black;
	cursor: pointer;
}

/* ITEMS */
.meteorite {
	background-image: url(./meteorite.gif);
}

.coin {
	background-image: url(./coin.gif);
}

.lightning {
	background-image: url(./lightning.gif);
}

/* INSTRUCTIONS */
#instructions {
	font-size: 2em;
}

#commands {
	display: flex;
	justify-content: space-between;
	position: relative;
}

#commands p {
	margin: 50px;
	margin-bottom: 80px;
} 

#menu {
	background-image: linear-gradient(
		to right,
		rgb(201, 56, 71),
		rgb(236, 171, 39),
		rgb(126, 166, 63),
		rgb(60, 146, 191)
	);
	color: black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	font-family: 'VT323', monospace;
	margin: 10px;
	width: 200px;
	height: 40px;
	font-size: 1em;
	cursor: pointer;
}

#credits {
	color: darkgray;
	font-size: 0.5em;
}

/* COULEURS */

.player-one-red {
	background-color: rgb(201, 56, 71);
}

.player-one-yellow {
	background-color: rgb(236, 171, 39);
}

.player-one-green {
	background-color: rgb(126, 166, 63);
}

.player-one-blue {
	background-color: rgb(60, 146, 191);
}

.player-two-red {
	background-color: rgb(201, 56, 71);
}

.player-two-yellow {
	background-color: rgb(236, 171, 39);
}

.player-two-green {
	background-color: rgb(126, 166, 63);
}

.player-two-blue {
	background-color: rgb(60, 146, 191);
}

.active-player-one-red {
	background-image: url(./red_dino_small.gif);
}

.active-player-one-red-left {
	background-image: url(./red_dino_small_left.gif);
}

.active-player-one-yellow {
	background-image: url(./yellow_dino_small.gif);
}

.active-player-one-green {
	background-image: url(./green_dino_small.gif);
}

.active-player-one-blue {
	background-image: url(./blue_dino_small.gif);
}

.active-player-two-red {
	background-image: url(./red_dino_small_left.gif);
}

.active-player-two-yellow {
	background-image: url(./yellow_dino_small_left.gif);
}

.active-player-two-green {
	background-image: url(./green_dino_small_left.gif);
}

.active-player-two-blue {
	background-image: url(./blue_dino_small_left.gif);
}


